table,th, td{
  border: 2px solid blue;

  border-collapse: collapse;
}
.hi {
  background: blue;
  color: white;
}
.cell{
  padding-top: 25px;
  padding-bottom:25px;
  width:30px;
}
.phone{
  width:700px;
}
.prise{
  width: 150px;
}
.syma{
  width: 70px;
}
.left{
  text-align: left;
}
.total{
  padding-top: 2px;
  padding-bottom:2px;
}


.price{
  visibility: hidden;
}
.price-radio-button1 {
  border: 1px solid blue;
  position:absolute;
  left: 1115px;
  top:22px;
  width: 10px;
  height: 10px;
  display:inline-block;
  border-radius:10px;

}
.price-radio-button-inner1{
  width: 6px;
  height: 6px;
  border-radius:6px;
  margin: 2px 0 0 2px;
  background-color: blue;
  visibility: hidden;
}
.price:checked ~ .price-radio-button1 .price-radio-button-inner1{
  visibility: visible;}

  .price-radio-button {
    border: 1px solid blue;
    position:absolute;
    left: 1115px;
    top:56px;
    width: 10px;
    height: 10px;
    display:inline-block;
    border-radius:10px;}


    .price-radio-button-inner{
      width: 6px;
      height: 6px;
      border-radius:6px;
      margin: 2px 0 0 2px;
      background-color: blue;
      visibility: hidden;
}

.price:checked ~ .price-radio-button .price-radio-button-inner{
  visibility: visible;}
